/* universal selector */
* {
    margin: 0;
    padding: 0;
}
/* element selectors */    
body {
    position: relative;
    background-color: rgb(20, 20, 20);
    
}

header, footer {
    background-color: slategray;
    height: 50px;
    width: 100%;
    line-height: 50px;
  }

header {
    border-bottom: 5px solid rgb(20, 20, 20) ;
}

footer {
    position: fixed;
    margin: auto;
    bottom: 0;
    border-bottom: 5px solid steelblue;
}

nav a {
    float: right;
    line-height: 50px;
    padding-left: 15px;
    padding-right: 20px;
    color: black;
    font-size: 25px;
}

nav a:hover {
    background-color: rgb(16, 16, 17);
    color: skyblue;
}

input[type=text]:focus {
    background-color: skyblue;
}

/* class selectors */

.box-name {
    margin-top: 40px;
    text-align: center;
}

.text-center {
    text-align: center;
    color: skyblue;
}

.contact-me {
    box-sizing: border-box;
    position: fixed;
    bottom: 150px;
    left: 50%;
    margin-left: -127px;
}

.contact-me h3 {
    margin-bottom: 25px;
}

.contact-me input {
    width: 250px;
    height: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
}

.contact-me button {
    margin-top: 10px;
}

/* id selectors */

#coming-soon {
    margin-top: 40px;
}